.form {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.form__item {
	text-align: center;
}

.form__button {
	align-self: center;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
}
