*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1.4;
	--eerie-black: hsla(0, 0%, 11%, 1);
	--charcoal: hsla(200, 26%, 25%, 1);
	--cadet: hsla(202, 17%, 42%, 1);
	--powder-blue: hsla(177, 33%, 79%, 1);
	--ghost-white: hsla(240, 29%, 97%, 1);
}

body {
	background-color: #dcdcdc;
}

.tabs {
	display: flex;
	background-color: var(--eerie-black);
	align-items: center;
	justify-content: center;
}

.tab {
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 700;
	padding: 1.2rem 1.5rem;
	color: white;
	transition: box-shadow 0.2s ease-in-out, color 0.2s;
}

.tabs a {
	text-decoration: none;
	color: white;
}

.tabs .atual {
	box-shadow: 0 -0.5rem inset var(--cadet);
	color: var(--cadet);
	pointer-events: none;
}

/* Visualização */
.tabelaWrapper {
	display: flex;
	justify-content: center;
	margin: 1rem 0 0 0;
}

table {
	border-radius: 5px;
	font-weight: normal;
	border: none;
	border-collapse: collapse;
	width: 65%;
	max-width: 100%;
	white-space: nowrap;
	background-color: white;
}

table td,
table th {
	text-align: center;
	padding: 8px;
}

table td {
	border-right: 1px solid #dcdcdc;
}

table thead th {
	color: #ffffff;
	background: var(--charcoal);
}

table thead th:nth-child(odd) {
	color: #ffffff;
	background: var(--cadet);
}

table tr:nth-child(even) {
	background: var(--powder-blue);
}

/* Responsive */

@media (max-width: 767px) {
	table {
		display: block;
		width: 100%;
	}
	table thead,
	table tbody,
	table thead th {
		display: block;
	}
	table thead th:last-child {
		border-bottom: none;
	}
	table thead {
		float: left;
	}
	table tbody {
		width: auto;
		position: relative;
		overflow-x: auto;
	}
	table td,
	table th {
		padding: 20px 0.625em 0.625em 0.625em;
		height: 60px;
		vertical-align: middle;
		box-sizing: border-box;
		overflow-x: hidden;
		overflow-y: scroll;
		width: 120px;

		text-overflow: ellipsis;
	}
	table thead th {
		text-align: left;
		border-bottom: 1px solid #dcdcdc;
	}
	table tbody tr {
		display: table-cell;
	}
	table tbody tr:nth-child(odd) {
		background: none;
	}
	table tr:nth-child(even) {
		background: transparent;
	}
	table tr td:nth-child(odd) {
		background: #dcdcdc;
		border-right: 1px solid #dcdcdc;
	}
	table tr td:nth-child(even) {
		border-right: 1px solid #dcdcdc;
	}
	table tbody td {
		display: block;
		text-align: center;
	}
}

.botoes {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 50px;
}

/* Adicionar Item */
.form {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.form__item {
	text-align: center;
}

.form__button {
	align-self: center;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
}

/* Logs */

.logItem {
	margin: 1.5rem 3rem;
	color: red;
}
